name: Hello World

on: 
  push: 
    branches:
      - main
  pull_request:
    branches:
    - main

env :
  ProjectName : UE5_Workspace
  log_path: C:/Users/bryan/OneDrive/Bureau/ISART/UE5_Workshop
  ENGINE_PATH: C:/Program Files/Epic Games/UE_5.6
  
jobs :
  build:
    runs-on: self-hosted
    steps:
      - name: Generate Project Files
        shell : bash
        run: ${{env.ENGINE_PATH}}/Engine/Build/BatchFiles/Build.bat -projectfiles -project="%GITHUB_WORKSPACE%\${{env.ProjectName}}.uproject" -game -rocket -progress -log="%~dp0\Saved\Logs\UnrealVersionSelector-2025.05.07-00.56.10.log"

      - name: Generate intermediates and binaries
        shell : bash
        run: UE_5.6/Engine/Build/BatchFiles/Build.bat "%GITHUB_WORKSPACE%\ProjectName.uproject"

      - name: Build Project
        shell : bash 
        run :  ${{env.ENGINE_PATH }}\Engine\Build\BatchFiles\RunUAT.bat" BuildCookRun `
            -project="%GITHUB_WORKSPACE%\ProjectName.uproject" `
            -noP4 -platform=Win64 -clientconfig=Shipping -serverconfig=Development `
            -cook -allmaps -build -stage -pak -archive `
            -archivedirectory="%GITHUB_WORKSPACE%\Build"





