name: Hello World

on: 
  push: 
    branches:
      - main
  pull_request:
    branches:
    - main

env :
  ProjectName : UE5_Workshop
  log_path: C:/Users/bryan/OneDrive/Bureau/ISART/UE5_Workshop
  ENGINE_PATH: C:/"Program Files"/"Epic Games"/UE_5.6
  GITHUB_WORKSPACE: C:\Users\bryan\OneDrive\Bureau\ISART\UE5_Workshop


jobs :
  build:
    runs-on: self-hosted
    steps:
      - name: Generate Project Files
        shell : cmd
        run: ${{env.ENGINE_PATH}}/Engine/Build/BatchFiles/Build.bat -projectfiles -project="${{env.GITHUB_WORKSPACE}}\${{env.ProjectName}}.uproject" -game -rocket -progress -log="%~dp0\Saved\Logs\UnrealVersionSelector-2025.05.07-00.56.10.log"

      - name: Generate intermediates and binaries
        shell : cmd
        run:  ${{env.ENGINE_PATH }}/Engine/Build/BatchFiles/Build.bat "${{env.GITHUB_WORKSPACE}}\${{env.ProjectName}}.uproject" ${{env.ProjectName}} Win64 Development

      - name: Build Project
        shell : cmd 
        run : ${{env.ENGINE_PATH }}/Engine/Build/BatchFiles/RunUAT.bat BuildCookRun -project="${{env.GITHUB_WORKSPACE}}\${{env.ProjectName}}.uproject" -noP4 -platform=Win64 -clientconfig=Shipping -serverconfig=Development -cook -allmaps -build -stage -pak -archive -archivedirectory="${{env.GITHUB_WORKSPACE}}\Build"
      
      - name: Test Builds
        shell : cmd
        run: ${{env.ENGINE_PATH }}/Engine/Binaries/Win64/UnrealEditor-Cmd.exe ${{env.GITHUB_WORKSPACE}}\${{env.ProjectName}}.uproject -execcmds="Automation RunTests Project;Quit" -stdout -unattended -NOSPLASH -NullRHI -log -ABSLOG="${{env.log_path}}"

 





